@import "../Vars.scss";

.cartHome {
  padding: 5px;
  width: 250px;
  height: 250px;
  background: #f0f3fa;
  padding: 15px;
  border-radius: 0.2em;
  box-shadow: $BOX_SHADOW; //varriable
  font-size: 15px;
  color: $COLOR_NEGRO;
  margin-left: auto;
  margin-right: auto;
}
// .cartHome::before {
//   content: "";
//   height: 3px;
//   width: 260px;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-image: linear-gradient(to right, red 0%, blue 100%);
// }
.btn_Modal {
  width: 30px;
  height: 30px;
}
.con_btn {
  display: inline-flex;
}
.cartP {
  font-family: $FUENTE_MONSE;
  text-align: center;
  color: $COLOR_PRINCIPAL;
  font-size: 20px;
}
.cartContenido {
  font-family: $FUENTE_MONSE;
  text-align: center;
  color: $COLOR_PRINCIPAL;
  font-size: 15px;
}
.cartIcon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: auto;
}
.cartButton {
  padding: 5px;
  display: flex;
  align-items: flex-end;
  background: none;
  border: none;
  margin-left: 20px;
}


.infoGroup {
  text-align: center;
  position: relative;
}

