@import "../Vars.scss";

.img-log {
  width: 100%;
  opacity: 0.6;
}
.particles {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.containerwhite {
  width: 600px;
  height: 800px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
    margin: auto;
  position: relative;
  top:50px;
}
.buttons_container{
  text-align: center;
  button{
    color:$COLOR_PRINCIPAL;
    padding: 5px;
    font-size: 20px;
    background: #f0f3fa;
    border: solid 1px $COLOR_PRINCIPAL;
    border-radius: 8px;
    margin: 5px;

  }
}
.imgxx {
  width: 40px;
  margin-right: 10px;
}
.boxxx {

  height: 40px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px; 
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;


}

.hmx {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.contactoTitle {
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px $COLOR_PRINCIPAL;
}
.contactoP {
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px $COLOR_PRINCIPAL;
}
.contacto {
  display: flex;
  justify-content: center;
}
// .ContainerBoss {
//   display: grid;
//   grid-template-columns: repeat(2, 600px);
// }
.sub {
  width: 300px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: $COLOR_NEGRO;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  //font-family: $Tipo2;
  font-size: 18px;
}
.Datos {
  font-size: 25px;
  color: $COLOR_NEGRO;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
::placeholder {
  color: $COLOR_PRINCIPAL;
}
