@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");
@import "./Vars.scss";

body{
    margin:0;
    font-family: "Open Sans", sans-serif;
}
p {
  margin: 0;
}
li {
  list-style: none;
}